@use '@angular/material' as mat;
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: 'FinkHeavy';
  src: url('assets/fonts/FinkHeavy.woff2') format('woff2'),
    url('assets/fonts/FinkHeavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@import '@angular/material/theming';

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

@import './themes/dark-theme';
@import './themes/light-theme';

@import './src/app/app.component.scss-theme.scss';
@import './src/app/sidenav/sidenav.component.scss-theme.scss';
@import './src/app/search-bar/search-bar.component.scss-theme.scss';
@import './src/app/title-nav/title-nav.component.scss-theme.scss';
@import './src/app/filter/filter.component.scss-theme.scss';

@mixin my-custom-components($theme) {
  @include app-component-theme($theme);
  @include sidenav-theme($theme);
  @include search-bar-theme($theme);
  @include title-nav-theme($theme);
  @include filter-theme($theme);
}

//.light-theme {
  @include mat.all-legacy-component-themes($light-theme);
  @include my-custom-components($light-theme);
//}

.dark-theme {
  @include mat.all-legacy-component-themes($dark-theme);
  @include my-custom-components($dark-theme);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif
}

.inner-content-container {
  margin: 2rem;
}

.my-chip-xs {
  font-size: 0.7rem;
  padding: 0px 7px !important;
  height: 14px !important;
  min-height: 20px !important;
  margin: 3px !important;
  // text-overflow: ellipsis;
}

.paginator {
  background: transparent;
}

.ellipse-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block !important;
}

.spinner {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 500px) {
  .inner-content-container  {
    margin: 0rem;
  }
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: mat.get-color-from-palette($accent);
  border-radius: 10px;
}

