@import '~@angular/material/theming';

.card-container {
  display: flex;
  flex-direction: column;
  flex: 4;
  padding: 10px;
  padding-top: 0px;
  padding-right: 20px;
}

.critter-card {
  margin: 10px;
}

.my-card {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.my-card-description {
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-top: 8px;
  width: 100%;
  padding-bottom: 10px;
}

.image {
  height: 50px;
  object-fit: scale-down;
  width: 50px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.critter-details {
  font-size: 0.85rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.detail {
  padding: 5px;
  padding-right: 10px;
  padding-left: 0px;
}

.first-detail {
  margin-left: 0px;
}

.detail-name {
  font-weight: 500;
  margin-right: 3px;
}

.detail-value {
  font-weight: 100;
}

.checkbox-container {
  margin: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  flex: 1;
  position: sticky;
  height: 100%;
  top: 32px;
}

@media only screen and (max-width: 613px) {
  .content {
    display: block;
  }

  .critter-card {
    margin-left: 0px;
    margin-right: 0px;
  }

  .card-container {
    padding-right: 10px;
  }
}
