@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin filter-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-button-toggle {
    background: mat.get-color-from-palette($primary, lighter);
    color: mat.get-color-from-palette($primary, '400-contrast');
  }

  .mat-button-toggle-checked {
    background: mat.get-color-from-palette($accent);
    color: mat.get-color-from-palette($accent, '400-contrast');
  }
}
