<div>
  <div class="title">
    Animal Crossing Critters
  </div>

  <div class="section">
    Thank you for checking out my project! Its intended to help Animal Crossing: New Horizons players keep track of all
    the critters they have captured and which critters are available at a given time.
  </div>

  <div class="section">
    If you notice bugs or have a suggestion, feel free to email me at:
    <a href="mailto:scavettapps@gmail.com">scavettapps@gmail.com</a> or contact me on discord at Tokoloshe#7413
  </div>

  <div class="section">
    This project was developed and is being maintained by myself and has no relation to Nintendo. If you
    would like to donate in order to bring future updates to the site and to keep the servers running, it would be very
    appreciated!
  </div>
  <div class="section center-flex">

    <div class="donation">
      <a href="https://ko-fi.com/scavettapps">
        <img src="./assets/imgs/Kofi_Logo_Blue.svg">
      </a>
    </div>

    <div class="donation">
      <a
        href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=DBT4S39YPSUNE&currency_code=USD&source=url">
        <img class="paypal" src="./assets/imgs/paypal.png">
      </a>
    </div>
  </div>
</div>
