<mat-toolbar class="toolbar mat-elevation-z5" [color]="'accent'">
  <div class="title">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div *ngIf="!isMobile">
      Toreba Replay Tracker
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container class="content-container">
  <mat-sidenav #sidenav [mode]="sideNavMode" [opened]="isOpened" class="sidenav">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content #content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
